{% extends 'base.html' %}

{% block title %}
New Jobs
{% endblock %}

{% block content %}
  <h2>Newest Jobs</h2>
  <p>
    These are the latest jobs that have been loaded
  </p>
  <table class = "table">
    <thead>
      <tr>
        <th>Employer</th>
        <th>Department</th>
        <th>Job Title</th>
        <th>Date Posted</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <td>{{ job.employer_name }}</td>
        <td>{{ job.department1 }} {{ job.department2 }}</td>
        <td>
          <a href="{{ job.job_url }}">{{ job.job_title }}</a><br>
          <small class="text-muted">{{ job.job_location }}</small>
        </td>
        <td>{{ job.created_on }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}